# Dependencies
node_modules/
.pnpm-store/
.npm/

# Build outputs
dist/
build/
.next/
*.tsbuildinfo

# Environment variables (Single root .env)
.env
.env*.local
.env.local
.env.production
!.env.example
!**/.env.example

# IDE & OS files
.DS_Store
.vscode/
.idea/
*.log

# Prisma
/apps/api/src/database/prisma/*.db
/apps/api/src/database/prisma/*.db-journal

# Coverage
coverage/
